.additional-content {
    display: flex;
    flex-direction: column;
  }



  .wp-block-heading {
    font-family: Arial, Roboto-Regular, HelveticaNeue, sans-serif;
    color: #8F0025;
    margin: 32px 0;
    max-width: 100%;
    margin-left: 10px;/* Ajusta el margen izquierdo según sea necesario */
    font-size: 37px;
    font-weight: normal;
  }
  
  
  .content-and-image {
    display: flex;
    flex-direction: row; /* Alinea el contenido y la imagen en una fila */
  }
  
  .content {
    flex: 1; /* Permite que el contenido ocupe todo el espacio disponible */
    margin-right: 2px; /* Ajusta el margen derecho para crear espacio entre el contenido y la imagen */
  }
  
  .image {
    flex: 1; /* Permite que la imagen ocupe todo el espacio disponible */
    display: flex;
    justify-content: center; /* Alinea la imagen a la derecha */
  }
  
  .image figure {
    margin: 0; /* Elimina los márgenes predeterminados de la figura */
  }
  
  .additional-content {
    display: flex;
    flex-direction: column;
  }
  
  .wp-block-heading {
    font-family: Arial, Roboto-Regular, HelveticaNeue, sans-serif;
    color: #8F0025;
    margin: 32px 0;
    max-width: 100%;
    margin-left: 10px; /* Ajusta el margen izquierdo según sea necesario */
    font-size: 37px;
    font-weight: normal;
  }
  
  .content-and-image {
    display: flex;
    flex-direction: row; /* Alinea el contenido y la imagen en una fila */
  }
  
  .content {
    flex: 1; /* Permite que el contenido ocupe todo el espacio disponible */
    margin-right: 2px; /* Ajusta el margen derecho para crear espacio entre el contenido y la imagen */
  }
  
  .image {
    flex: 1; /* Permite que la imagen ocupe todo el espacio disponible */
    display: flex;
    justify-content: center; /* Alinea la imagen a la derecha */
  }
  
  .image figure {
    margin: 0; /* Elimina los márgenes predeterminados de la figura */
  }
  
  .custom-ol {
    list-style-type: none;
    counter-reset: custom-counter;
    padding-left: 0;
  }
  
  .custom-ol li {
    counter-increment: custom-counter;
    margin-bottom: 20px;
    position: relative;
  }
  
  .custom-ol li::before {
    content: counter(custom-counter);
    color: white;
    background: #8F0025;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    display: inline-block;
    margin-right: 10px;
  }
  
  .custom-ol li strong {
    color: #8F0025;
    font-weight: bold;
    display: inline;
    margin-bottom: 5px;
  }
  
  .custom-ol li p {
    margin-left: 40px;
  }
  